/** {
  border: orange 1px dotted;
}*/

#contain {
  max-height: 300px;
  width: 900px;
  display: block;
  margin: auto;
}

img {
  width: 300px;
}

#left {
  height: 300px;
  width: 300px;
  margin: auto;
  border: 2px solid black;
  margin-left: 150px;
}

#center {
  height: 300px;
  margin: auto;
  border: 2px solid black;
}

#right {
  height: 300px;
  margin: auto;
  border: 2px solid black;
}

ul {
  font-size: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
