* {
  border: orange 1px dotted;
}

#contain {
  max-height: 300px;
  display: inline-block;
  margin: auto;
}

img {
  width: 300px;
  display: inline-block;
}

#left {
  height: 300px;
  margin: auto;
}

#center {
  height: 300px;
  margin: auto;
}

#right {
  height: 300px;
  margin: auto;
}
