/** {
  border: orange 1px dotted;
}*/

body {
  background-color: #f0f8ff;
}

header {
  width: 600px;
  display: inline-block;
  margin-left: 470px;
}

h2 {
  display: inline-block;
  text-align: center;
}

p {
  width: 400px;
  text-align: center;
  background-color: #c1cdcd;
  border: black 1px solid;
  padding: 10px;
}
#contain {
  max-height: 300px;
  width: 900px;
  display: block;
  margin: auto;
}

img {
  width: 300px;
}

#left {
  height: 300px;
  width: 300px;
  margin: auto;
  border: 2px solid black;
  margin-left: 250px;
}

#center {
  height: 300px;
  margin: auto;
  border: 2px solid black;
}

#right {
  height: 300px;
  margin: auto;
  border: 2px solid black;
}

ul {
  font-size: 14px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
